# Django
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# PostgreSQL
DB_NAME=tiendaexpress
DB_USER=tiendaexpress
DB_PASSWORD=tiendaexpress
DB_HOST=db
DB_PORT=5432

# RabbitMQ
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
CELERY_BROKER_URL=amqp://guest:guest@rabbitmq:5672//

# Redis (channel layer para WebSockets)
REDIS_HOST=redis
REDIS_PORT=6379

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:5173
